<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            width: 790px;
            margin: 25px auto 0;
        }

        table,
        th,
        td {
            border-collapse: collapse;
        }
    </style>
</head>

<body>

    <div class="container">

        <div class="firstSection" style="margin-bottom: 0;">
            <table style="width: 100%; border: 1px solid black;">
                <tr>
                    <td style="width: 50%; vertical-align: baseline; border-right: 1px solid black;">
                        <table style="width: 100%;">
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">CERTIFICATE NUMBER</td>
                                <td style="width: 50%;text-align: center;">generated</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">ULR NUMBER</td>
                                <td style="width: 50%;text-align: center;">generated</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p>CUSTOMER ADDRESS: Robert Robertson, 1234 NW Bobcat Lane, St. Robert, MO
                                        65584-5678.</p>
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td style="width: 50%;">
                        <table style="width: 100%;">
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">PAGE NUMBER</td>
                                <td style="text-align: center;">1 OF 1</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">DATE OF ISSUE</td>
                                <td style="text-align: center;">05/11/2023</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">RECEIVED DATE</td>
                                <td style="text-align: center;">05/11/2023</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">CAL.DATE</td>
                                <td style="text-align: center;">05/11/2023</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">DUE.DATE</td>
                                <td style="text-align: center;">05/11/2023</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">CONDITION</td>
                                <td style="text-align: center;">GOOD</td>
                            </tr>
                            <tr>
                                <td style="width: 50%; border-right: 1px solid black;">CALIBRATED AT</td>
                                <td style="text-align: center;">LAB</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="scondSection" style="margin-bottom: 0;">
            <table style="width: 100%; border-left: 1px solid black; border-radius: 1px solid black;">
                <tr>
                    <td style="width: 50%; vertical-align: baseline; border-right: 1px solid black;">
                        <table style="width: 100%;">
                            <tr style="border-bottom: 1px solid black;">
                                <td colspan="2"
                                    style="width: 50%; border-right: 0 solid black; text-align: center; padding: 5px;">
                                    DUC DETAILS
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%;">
                        <table style="width: 100%;">
                            <tr style="border-bottom: 1px solid black;">
                                <td colspan="2"
                                    style="width: 50%; border-right: 1px solid black; text-align: center;padding: 5px;">
                                    STANDARD DETAILS
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="thirdSection" style="margin-bottom: 0;">
            <table style="width: 100%; border: 1px solid black; border-top: 0px solid black;">
                <tr>
                    <td style="width: 50%; vertical-align: baseline; border-right: 1px solid black;">
                        <table style="width: 100%;">
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">DESCRIPTION</td>
                                <td style="width: 50%;text-align: center;">--</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">MAKE</td>
                                <td style="width: 50%;text-align: center;">--</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">SL.NO</td>
                                <td style="width: 50%;text-align: center;">--</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">ID.NO</td>
                                <td style="width: 50%;text-align: center;">--</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">RANGE</td>
                                <td style="width: 50%;text-align: center;">--</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">L.C</td>
                                <td style="width: 50%;text-align: center;">--</td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%; vertical-align: baseline;">
                        <table style="width: 100%;">
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">DESCRIPTION</td>
                                <td style="text-align: center;">CC/SG/LB</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">MAKE</td>
                                <td style="text-align: center;">MIKRONIX</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">SL.NO</td>
                                <td style="text-align: center;">2695/4819/4820</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">CERTIFICATE.NO</td>
                                <td style="text-align: center;">0793 & TSC/22-23/14968-1 & 17613-1</td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">VALIDITY</td>
                                <td style="text-align: center;">25-02-2024 & 09-01-2025 & 26-02-2024</td>
                            </tr>
                            <tr style="border-bottom: 0 solid black;">
                                <td style="width: 50%; border-right: 1px solid black;">TRACEABILITY</td>
                                <td style="text-align: center;">NATIONAL STANDARD</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="forthSection" style="margin-bottom: 0; border: 1px solid black; border-top: 0px solid black;">
            <p>CALIBRATION PROCEDURE & REF.STD : CP-D01-2018 & IS 16491 (PART 1) F1</p>
        </div>

        <div class="fifthSection" style="margin-bottom: 0; border: 1px solid black; border-top: 0px solid black;">
            <p>ENVIRONMENTAL CONDITION:</p>
        </div>

        <div class="sixthSection" style="margin-bottom: 0;">
            <table style="width: 100%; border: 1px solid black; border-top: 0px solid black;">
                <tr style="border-bottom: 1px solid black;">
                    <td style="width: 50%; border-right: 1px solid black;">
                        TEMPERATURE (°C)
                    </td>
                    <td style="width: 50%;text-align: center;">
                        20.5 F2
                    </td>
                </tr>
                <tr style="border-bottom: 1px solid black;">
                    <td style="width: 50%; border-right: 1px solid black;">
                        HUMIDITY (RH %)
                    </td>
                    <td style="width: 50%;text-align: center;">
                        56 F3
                    </td>
                </tr>
            </table>
        </div>

        <div class="seventhSection" style="margin-bottom: 0; border: 1px solid black; border-top: 0px solid black;">
            <p>CALIBRATION RESULT ( All Values are in mm )</p>
        </div>

        <div class="mainSection" style="margin-bottom: 0; border: 1px solid black; border-top: 0px solid black;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 80%; border-right: 1px solid black;">
                        <table style="width: 100%; text-align: center;">
                            <tr style="border-bottom: 1px solid black;">
                                <td style="border-right: 1px solid black;">STD READING</td>
                                <td style="border-right: 1px solid black;">EXTERNAL</td>
                                <td style="border-right: 1px solid black;">ERROR</td>
                                <td style="border-right: 1px solid black;">INTERNAL</td>
                                <td style="border-right: 0 solid black;">ERROR</td>
                            </tr>
                            <% for (let i=0; i < calibration.length; i++) { %>
                                <tr>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid;">
                                        <%= calibration[i]['std_reading'] %>
                                    </td>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid;">
                                        <%= calibration[i]['external'] %>
                                    </td>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid;">
                                        <%= calibration[i]['error_1'] %>
                                    </td>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid;">
                                        <%= calibration[i]['internal'] %>
                                    </td>
                                    <td style="border-right: 0 solid black; border-bottom: 1px solid;">
                                        <%= calibration[i]['error_2'] %>
                                    </td>
                                </tr>
                                <% } %>
                        </table>
                    </td>
                    <td style="width: 20%; vertical-align: baseline;" rowspan="6">
                        <table style="width: 100%;">
                            <tr style="border-bottom: 1px solid black;">
                                <td>UNCERTAINTY ± µm</td>
                            </tr>
                            <tr>
                                <td style="color: white;">---</td>
                            </tr>
                            <tr>
                                <td style="color: white;">---</td>
                            </tr>
                            <tr>
                                <td style="color: white;">---</td>
                            </tr>
                            <tr>
                                <td style="color: white;">---</td>
                            </tr>
                            <tr>
                                <td style="color: white;">---</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">12.0</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="remarksTitle" style="margin-bottom: 0; border: 1px solid black; border-top: 0px solid black;">
            <p style="padding: 5px;">REMARKS:</p>
            <ol type="1" style="padding-left: 25px; padding-bottom: 5px;">
                <li>
                    The Indicated Uncertainty at 95.45 % confidence level with coverage factor k
                </li>
                <li>
                    The Calibration Certificate is valid for scientific & industrial purpose only.
                </li>
                <li>
                    The Calibration Certificate is valid for scientific & industrial purpose only.
                </li>
                <li>
                    The Calibration Certificate is valid for scientific & industrial purpose only.
                </li>
                <li>
                    The Calibration Certificate is valid for scientific & industrial purpose only.
                </li>
            </ol>
        </div>

        <div class="footerSection" style="margin-bottom: 0; border: 1px solid black; border-top: 0px solid black;">
            <div style="float: left;">
                <ul style="list-style: none; padding-left: 20px; padding-top: 10px;">
                    <li>R.Godfrey Mohan</li>
                    <li>Calibration Engineer</li>
                    <li>Calibrated By</li>
                </ul>
            </div>
            <div style="float: right;">
                <ul style="list-style: none; padding-right: 20px; padding-top: 10px;">
                    <li>T.Vijay Kumar</li>
                    <li>Technical manager</li>
                    <li>Approved by</li>
                </ul>
            </div>
            <div class="spacer" style="clear: both;"></div>
        </div>

    </div>

</body>

</html>